<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WSC2019Kazan_S6_05272022_Windows_NetFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Session6Entities" connectionString="metadata=res://*/Session6Model.csdl|res://*/Session6Model.ssdl|res://*/Session6Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JORDY-DESKTOP\SQLEXPRESS;initial catalog=Session6;persist security info=True;user id=sa;password=1234567890;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <WSC2019Kazan_S6_05272022_Windows_NetFramework.Properties.Settings>
      <setting name="savedLanguage" serializeAs="String">
        <value>default</value>
      </setting>
    </WSC2019Kazan_S6_05272022_Windows_NetFramework.Properties.Settings>
  </userSettings>
</configuration>