@inherits LayoutComponentBase


<div class="main">
    <div class="top-row px-4">
        <h1>ASEAN Skills 2020</h1>
        <h1>26 – 28 Jul 2020</h1>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <div class="px-4 fixed-bottom bottom-row">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
</div>
